version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: streamwave_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: streamwave_backend
    ports:
      - "8080:8080"
    environment:
      - MONGO_URL=mongodb://mongo:27017/streamwave
      - PORT=8080
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: streamwave_frontend
    ports:
      - "8081:80"
    depends_on:
      - backend

volumes:
  mongo_data:

